<!DOCTYPE html>
<html lang="{{lang}}" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video#">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="{{lang}}" />
	<meta http-equiv="X-Rim-Auto-Match" content="telephone=none" />
	<meta http-equiv="Cache-Control" content="no-cache" /> 
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="utf-8" />
	<meta name="robots" content="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="sode.su/@1" />
	<meta name="keywords" content="sodesu, sodesuka, sodesu ka, desu, anonym, social, socnet, social network, аноним, соцсеть, социальная сеть" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="referrer" content="no-referrer" />
	<meta name="document-state" content="dynamic" />
	<meta name="theme-color" content="#7D80B8" />
	<meta name="application-name" content="sode.su" />
	<meta name="msapplication-TileColor" content="#090" />
	<meta name="google-site-verification" content="oNI9lmVk6w8LQQfPuPWkKkRj4_nGfc9v-wX5tR0o5Ok" />
	<meta name="yandex-verification" content="9b4fd1cc27ee2008" />

	<meta property="business:contact_data:country_name" content="PMR" />
	<meta property="business:contact_data:email" content="admin@sode.su" />
	<meta property="business:contact_data:website" content="https://www.sode.su" />

	<title id="title">{{title}}</title>
	<meta name="description" content="{{descr}}" />
	<meta name="url" content="{{url}}" />
	<base href="/" />

	<link rel="icon" href="img/icon-192.png" type="image/png" />
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="mask-icon" href="img/logo.svg" color="#FFF" />
	<link rel="apple-touch-icon" href="img/icon-192.png" sizes="192x192" />
	<link rel="manifest" href="manifest.json" />

	<link rel="preload" href="{{css}}" as="style" />
	<link rel="canonical" href="{{canonical}}" />
	<link rel="alternate" hreflang="en" href="{{url}}?lang=en" />
	<link rel="alternate" hreflang="ru" href="{{url}}?lang=ru" />
	<link rel="alternate" hreflang="x-default" href="{{url}}" />
	<link rel="stylesheet" href="{{css}}" type="text/css" id="stylesheet" />

	<!--[if (gte IE 6)&(lte IE 8)]>
	<script src="js/selectivizr.js" type="text/javascript"></script>
	<noscript><link rel="stylesheet" href="" type="text/css" /></noscript>
	<script src="js/respond.js" type="text/javascript"></script>
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js" type="text/javascript"></script>
	<![endif]-->

    <script defer src="js/bundle.js" type="text/javascript"></script>

	<meta property="og:site_name" content="sode.su" />
	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="{{type}}" />
	<meta property="og:description" content="{{descr}}" />
	<meta property="og:url" content="{{url}}" />

{{og}}

{{twitter}}
</head>

<body>
</body>
</html>